@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.main{
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
  padding: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  text-align: justify;
  color: rgb(0, 0, 0);
  background-color:rgb(255,255,255);
}

